@model FoamMVC.ViewModels.ItemDisplaySingleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header-section">
    <div class="container theme-showcase header-container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="beer-name-header">
                    <h1 id="company-name">@Html.DisplayFor(model => model.CompanyName)</h1><h1 id="beer-name">@Html.DisplayFor(model => model.ItemName)</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-section">
    <div class="container theme-showcase main-container" role="main">
        <div class="row">
            <div class="col-md-4 col-xs-8 col-xs-offset-2">
                <div class="beer-pic">
                    @if (Model.ImagePath == null)
                    {
                        <img src="~/Images/NoBeerPicture.png" alt="Unknown Image" />
                    }
                    else
                    {
                        <img src="@Url.Content(Model.ImagePath)" alt="Unknown Image" />
                    }
                </div>
            </div>

            <div class="col-xs-4 col-xs-offset-2 col-md-2 col-md-offset-0">
                <button type="submit" id="btn-like" class="btn-glyphicon" data-active="0">
                    <i class="fa fa-thumbs-o-up light-blue"></i>
                    <span class="light-blue">Like</span>
                </button>
            </div>
            <div class="col-xs-5 col-xs-offset-0 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-0">
                <button type="submit" id="btn-dislike" class="btn-glyphicon" data-active="0">
                    <i class="fa fa-thumbs-o-down red"></i>
                    <span class="red">Dislike</span>
                </button>
            </div>

            <div class="col-md-4 col-xs-10 col-xs-offset-1 beer-info-box">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <h3>Details</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="spacer"></div>
                </div>
                <div class="row beer-info-row">
                    <div class="col-xs-12">
                        <span class="beer-info">@Html.DisplayNameFor(model => model.CategoryName):&nbsp;</span><span class="beer-info-value">@Html.DisplayFor(model => model.CategoryName)</span>
                    </div>
                </div>
                <div class="row beer-info-row">
                    <div class="col-xs-12">
                        <span class="beer-info">@Html.DisplayNameFor(model => model.Location):&nbsp;</span><span class="beer-info-value">@Html.DisplayFor(model => model.Location)</span>
                    </div>
                </div>
                <div class="row beer-info-row">
                    <div class="col-xs-12">
                        <span class="beer-info">@Html.DisplayNameFor(model => model.CompanyName):&nbsp;</span><span class="beer-info-value">@Html.DisplayFor(model => model.CompanyName)</span>
                    </div>
                </div>
                <div class="row beer-info-row">
                    <div class="col-xs-12">
                        <span class="beer-info">@Html.DisplayNameFor(model => model.StockCount):&nbsp;</span><span class="beer-info-value">@Html.DisplayFor(model => model.StockCount)</span>
                    </div>
                </div>
                <div class="row beer-info-row">
                    <div class="col-xs-12">
                        <span class="beer-info">@Html.DisplayNameFor(model => model.ItemPrice):&nbsp;</span><span class="beer-info-value">@Html.DisplayFor(model => model.ItemPrice)</span>
                    </div>
                </div>
                <div class="row beer-info-row">
                    <div class="col-xs-12">
                        <span class="beer-info">@Html.DisplayNameFor(model => model.Tags):&nbsp;</span><span class="beer-info-value">@Html.DisplayFor(model => model.Tags)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 beer-rating-box">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h3>Palate Information</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="spacer"></div>
                </div>
                @foreach (var palletDescriptor in Model.PalletDescriptors)
                {
                <div class="row slider-row">
                    <div class="col-md-2 col-xs-12">
                        <h4>@Html.DisplayFor(x => palletDescriptor.PalletDescriptorName)</h4>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60
                            </div>
                        </div>
                    </div>
                    
                </div>
                }
                <div class="row submit-row">
                    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                        <button class="btn btn-red review-btn" data-toggle="modal" data-target="#review-modal">Review this Beer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="review-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Rate this Beer</h3>
                        <div class="row">
                            <div class="spacer"></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row slider-row">
                            <div class="col-md-3 col-xs-12">
                                <h4>Bitterness</h4>
                            </div>
                            <div class="col-md-7 col-xs-9" class="slider-div">
                                <div class="flat-slider review-slider" id="review-slider0"></div>
                            </div>
                            <div class="col-md-2 col-xs-3">
                                <input type="text" id="review-slider-value0" class="form-control">
                            </div>
                        </div>
                        <div class="row slider-row">
                            <div class="col-md-3 col-xs-12">
                                <h4>Sweetness</h4>
                            </div>
                            <div class="col-md-7 col-xs-9" class="slider-div">
                                <div class="flat-slider review-slider" id="review-slider1"></div>
                            </div>
                            <div class="col-md-2 col-xs-3">
                                <input type="text" id="review-slider-value1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-4 col-xs-offset-2">
                            <button type="button" class="btn btn-red">Submit</button>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!--/.containers-->
</section>
       
            
            
        
 
