@model IEnumerable<FoamMVC.ViewModels.ItemDisplayViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="header-section">
    <div class="container theme-showcase header-container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="beer-name-header">
                    <h1 id="company-name">All Items</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-section">
    <div class="container theme-showcase main-container" role="main">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemPrice)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new {id = item.ID})
                    </td>
                </tr>
            }

        </table>
    </div>
</section>