@model IEnumerable<FoamMVC.ViewModels.ItemDisplayViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="header-section">
    <div class="container theme-showcase header-container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="beer-name-header">
                    <h1 id="company-name">All Items</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-section">
    <div class="container theme-showcase main-container" role="main">
     
            @{ int count = 0;}
            @foreach (var item in Model)
            {
                if (count == 0)
                {
                    @Html.Raw("<div class='row'>")
                }
                <div class="col-sm-3 col-xs-6 beer-list-parent-box">
                    <div class="beer-list-border">
                        <a href="@Url.Action("Details", new {id = item.ID})">
                            @if (item.ImagePath == null)
                            {
                                <img src="~/Images/NoBeerPicture.png" alt="Unknown Image" style="max-width: 100%;" />
                            }
                            else
                            {
                                <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="Foam Beer Image" style="max-width: 100%;"/>
                            }
                        </a>
                        <div class="beer-list-info-box">
                            <h3>@Html.DisplayFor(modelItem => item.ItemName)</h3>
                            <div class="row row-no-margin">
                                <strong>Company: </strong><span>@Html.DisplayFor(modelItem => item.CompanyName)</span>
                            </div>
                            <div class="row row-no-margin">
                                <strong>In Stock: </strong><span>@Html.DisplayFor(modelItem => item.StockCount)</span>
                            </div>
                            <div class="row row-no-margin">
                                <strong>Price: </strong><span>@Html.DisplayFor(modelItem => item.ItemPrice)</span>
                            </div>

                        </div>
                    </div>
                </div>
                    if (count == 3)
                    {
                        @Html.Raw("</div>")        
                    }   
                count++;
                if (count == 4)
                {
                    count = 0;
                }
            }
    </div>
</section>